In [1]:
import pandas as pd
import numpy as np
import math
import scipy.stats as stats

In [2]:
Diet_Study=pd.read_csv("C:/Users/Vishal/Desktop/Python/7. Basic Stats - Case Study-1/dietstudy.csv")

Diet_Study.head(2)

   patid  age gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45   Male  180  148  106  113  100   198   196   193   188   192
1      2   56   Male  139   94  119   75   92   237   233   232   228   225

In [3]:
print("1. In order to check if there has been any change we'll check the data for tg0 and tg4. For weight we'll be checking the data for wgt0 and wgt4")

print("\nFor the null hypothesis we'll be considering that for both the intervals the values are same ")

print("\nFor weight using the values of wgt0 and wgt4\n")

print(stats.ttest_rel(a=Diet_Study.wgt0,b=Diet_Study.wgt4))

print("\nWe can see that the P value is very small so our null hypothesis of having the two values equal doesn't hold any true and also after seeing the mean of the two values")

print("\n Mean of WGT0=",Diet_Study.wgt0.mean())
print(" Mean of WGT4=",Diet_Study.wgt4.mean())

print('We can clearly conclude that the weight of the patients have reduced after following the new diet')




print("\nFor triglyceride level using the values of tg0 and tg4\n")

print(stats.ttest_rel(a=Diet_Study.tg0,b=Diet_Study.tg4))

print("\nWe can see that the P value is not so small so our null hypothesis of having the two values equal does hold true and we can say that the triglyceride lecel didn't change that much even with the changed diet and also after seeing the mean of the two values")

print("\n Mean of TG0=",Diet_Study.tg0.mean())
print(" Mean of TG4=",Diet_Study.tg4.mean())

print('We can clearly conclude that the triglyceride level of the patients didnot change substatitally even after following the new diet')

1. In order to check if there has been any change we'll check the data for tg0 and tg4. For weight we'll be checking the data for wgt0 and wgt4

For the null hypothesis we'll be considering that for both the intervals the values are same

For weight using the values of wgt0 and wgt4

Ttest_relResult(statistic=11.174521688532522, pvalue=1.137689414996614e-08)

We can see that the P value is very small so our null hypothesis of having the two values equal doesn't hold any true and also after seeing the mean of the two values

 Mean of WGT0= 198.375
 Mean of WGT4= 190.3125
We can clearly conclude that the weight of the patients have reduced after following the new diet

For triglyceride level using the values of tg0 and tg4

Ttest_relResult(statistic=1.2000008533342437, pvalue=0.24874946576903698)

We can see that the P value is not so small so our null hypothesis of having the two values equal does hold true and we can say that the triglyceride lecel didn't change that much even with the changed diet and also after seeing the mean of the two values

 Mean of TG0= 138.4375
 Mean of TG4= 124.375
We can clearly conclude that the triglyceride level of the patients didnot change substatitally even after following the new diet

In [4]:
Credit_promo=pd.read_csv("C:/Users/Vishal/Desktop/Python/7. Basic Stats - Case Study-1/creditpromo.csv")

Credit_promo.head(2)

    id         insert      dollars
0  148       Standard  2232.771979
1  572  New Promotion  1403.807542

In [5]:
Standard=Credit_promo.dollars[(Credit_promo['insert']=='Standard')]

Promotion=Credit_promo.dollars[(Credit_promo['insert']=='New Promotion')]

In [6]:
print("2.In order to check if the promotion changed the sales we'll be initially considering that both the types have equal average and this will be our null hypothesis")

print("\nSince the data is of two independent sections we'll be using the 2 sample test\n")

print(stats.ttest_ind(a=Standard,b=Promotion,equal_var=True))

print('\nSince most of the tests are done at 95% accuracy and for that the p value should be greater than 0.05 but in this case the vale of P is less than that so our assumption that both the averages are same turns out to be false and by seeing the mean of both dataframes we can conlude that promotion did increase the sales of the company')

print("\nMean of Standard customers=",Standard.mean())
print("Mean of Promotion customers=",Promotion.mean())

2.In order to check if the promotion changed the sales we'll be initially considering that both the types have equal average and this will be our null hypothesis

Since the data is of two independent sections we'll be using the 2 sample test

Ttest_indResult(statistic=-2.2604227264649963, pvalue=0.024225996894147814)

Since most of the tests are done at 95% accuracy and for that the p value should be greater than 0.05 but in this case the vale of P is less than that so our assumption that both the averages are same turns out to be false and by seeing the mean of both dataframes we can conlude that promotion did increase the sales of the company

Mean of Standard customers= 1566.3890309659348
Mean of Promotion customers= 1637.4999830647992

In [7]:
Pollination=pd.read_csv("C:/Users/Vishal/Desktop/Python/7. Basic Stats - Case Study-1/pollination.csv")

Pollination.head()

     Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0  Natural      1.85            147.70            16.86
1  Natural      1.86            136.86            16.77
2  Natural      1.83            149.97            16.35
3  Natural      1.89            172.33            18.26
4  Natural      1.80            144.46            17.90

In [8]:
print("3.a In order to check if the overall seed yield is 200 we'll be considering the null hypothesis where we'll be testing for Ho=200")

print("\nAs we are given it to check for 200 we'll be using one samle t test\n")

print(stats.ttest_1samp(a=Pollination.Seed_Yield_Plant,popmean=200))

print("\nUsually we do the test for 95% accuract and for that the P value should be greater than 0.05. In this case since the P value is less than that we'll conclude that our null hypothesis of average to be 200 doesn't hold true. on checking the mean we can clearly see that the value is less than 200")

print("The average value to Seeds is =",Pollination.Seed_Yield_Plant.mean())

3.a In order to check if the overall seed yield is 200 we'll be considering the null hypothesis where we'll be testing for Ho=200

As we are given it to check for 200 we'll be using one samle t test

Ttest_1sampResult(statistic=-2.3009121248548645, pvalue=0.032891040921283025)

Usually we do the test for 95% accuract and for that the P value should be greater than 0.05. In this case since the P value is less than that we'll conclude that our null hypothesis of average to be 200 doesn't hold true. on checking the mean we can clearly see that the value is less than 200
The average value to Seeds is = 180.8035

In [9]:
print("3.b In order to check if the  natural pollination and hand pollination under open field conditions are equally effective or are significantly different we'll be doing the independent t test as both samples are exclusive from each other on each column to check the on all parameters")

Natural=Pollination[Pollination.Group=='Natural']
Hand=Pollination[Pollination.Group=='Hand']

print("\nIn order to check for the fruit yield we'll be performing the 2 sample test on fruit wt column for both data\n")

print(stats.ttest_ind(a=Natural.Fruit_Wt,b=Hand.Fruit_Wt,equal_var=True))

print("\nBased on the P value we can conclude that the hypothesis that we had earlier started with that both the values have same average is false as the P value is very small. On checking the mean of the two")

print("\nThe mean for Naturally grown fruits =",round(Natural.Fruit_Wt.mean(),2))
print("The mean for Hand pollination grown fruits =",round(Hand.Fruit_Wt.mean(),2))

print("\nOn seeing the mean we can clearly see that the hand pollinated plants give better fruits")


print("----------------------------------------------------------------------------------------------------------------------")


print("\nIn order to check for the fruit yield we'll be performing the 2 sample test on Seed Yield of plants column for both data\n")

print(stats.ttest_ind(a=Natural.Seed_Yield_Plant,b=Hand.Seed_Yield_Plant,equal_var=True))

print("\nBased on the P value we can conclude that the hypothesis that we had earlier started with that both the values have same average is false as the P value is very small. On checking the mean of the two")

print("\nThe mean for Naturally grown fruits =",round(Natural.Seed_Yield_Plant.mean(),2))
print("The mean for Hand pollination grown fruits =",round(Hand.Seed_Yield_Plant.mean(),2))

print("\nOn seeing the mean we can clearly see that the hand pollinated plants yield better seeds")


print("----------------------------------------------------------------------------------------------------------------------")


print("\nIn order to check for the fruit yield we'll be performing the 2 sample test on Seed Yield of plants column for both data\n")

print(stats.ttest_ind(a=Natural.Seedling_length,b=Hand.Seedling_length,equal_var=True))

print("\nBased on the P value we can conclude that the hypothesis that we had earlier started with that both the values have same average is false as the P value is small as compared to what it should be in case of 95% accuracy i.e 0.05 P value  On checking the mean of the two")

print("\nThe mean for Naturally grown fruits =",round(Natural.Seedling_length.mean(),2))
print("The mean for Hand pollination grown fruits =",round(Hand.Seedling_length.mean(),2))

print("\nOn seeing the mean we can clearly see that the hand pollinated plants have better seedling lengths")

3.b In order to check if the  natural pollination and hand pollination under open field conditions are equally effective or are significantly different we'll be doing the independent t test as both samples are exclusive from each other on each column to check the on all parameters

In order to check for the fruit yield we'll be performing the 2 sample test on fruit wt column for both data

Ttest_indResult(statistic=-17.669989614440286, pvalue=8.078362076486221e-13)

Based on the P value we can conclude that the hypothesis that we had earlier started with that both the values have same average is false as the P value is very small. On checking the mean of the two

The mean for Naturally grown fruits = 1.85
The mean for Hand pollination grown fruits = 2.57

On seeing the mean we can clearly see that the hand pollinated plants give better fruits
----------------------------------------------------------------------------------------------------------------------

In order to check for the fruit yield we'll be performing the 2 sample test on Seed Yield of plants column for both data

Ttest_indResult(statistic=-13.958260515902547, pvalue=4.2714815854843853e-11)

Based on the P value we can conclude that the hypothesis that we had earlier started with that both the values have same average is false as the P value is very small. On checking the mean of the two

The mean for Naturally grown fruits = 146.01
The mean for Hand pollination grown fruits = 215.6

On seeing the mean we can clearly see that the hand pollinated plants yield better seeds
----------------------------------------------------------------------------------------------------------------------

In order to check for the fruit yield we'll be performing the 2 sample test on Seed Yield of plants column for both data

Ttest_indResult(statistic=-2.542229999657055, pvalue=0.020428817064110226)

Based on the P value we can conclude that the hypothesis that we had earlier started with that both the values have same average is false as the P value is small as compared to what it should be in case of 95% accuracy i.e 0.05 P value  On checking the mean of the two

The mean for Naturally grown fruits = 17.71
The mean for Hand pollination grown fruits = 18.59

On seeing the mean we can clearly see that the hand pollinated plants have better seedling lengths

In [10]:
Dvdplayer=pd.read_csv("C:/Users/Vishal/Desktop/Python/7. Basic Stats - Case Study-1/dvdplayer.csv")

Dvdplayer.head()

      agegroup   dvdscore
0  65 and over  38.454803
1        55-64  17.669677
2  65 and over  31.704307
3  65 and over  25.924460
4     Under 25  30.450007

In [11]:
print("4. In order to check if all the age group rated it differently we'll consider the null hypothesis consideing that the average of all the age groups is same and check if this hypothesis holds true")

print("\n As we have 1 continuous and 1 catagorical with segments we'll be checking the hypothesis with ANOVA\n")

Age_25Less=Dvdplayer.dvdscore[Dvdplayer.agegroup=='Under 25']
Age_25_34=Dvdplayer.dvdscore[Dvdplayer.agegroup=='25-34']
Age_35_44=Dvdplayer.dvdscore[Dvdplayer.agegroup=='35-44']
Age_45_54=Dvdplayer.dvdscore[Dvdplayer.agegroup=='45-54']
Age_55_64=Dvdplayer.dvdscore[Dvdplayer.agegroup=='55-64']
Above_65=Dvdplayer.dvdscore[Dvdplayer.agegroup=='65 and over']


print(stats.f_oneway(Age_25Less,Age_25_34,Age_35_44,Age_45_54,Age_55_64,Above_65))

print("\nThe value of P is extremly small thus or initial assumption that all the averages are same doesn't hold true. On checking the means we can conclude")

print("\nFor age less than 25 the average is =",round(Age_25Less.mean(),2))
print("For age 25-34 the average is =",round(Age_25_34.mean(),2))
print("For age 35-44 the average is =",round(Age_35_44.mean(),2))
print("For age 45-54 the average is =",round(Age_45_54.mean(),2))
print("For age 55-64 the average is =",round(Age_55_64.mean(),2))
print("For age more than 65 the average is =",round(Above_65.mean(),2))

print("\nWe can clearly see that the averages of all the segments vary alot from each other")

4. In order to check if all the age group rated it differently we'll consider the null hypothesis consideing that the average of all the age groups is same and check if this hypothesis holds true

 As we have 1 continuous and 1 catagorical with segments we'll be checking the hypothesis with ANOVA

F_onewayResult(statistic=6.992526962676518, pvalue=3.087324905679639e-05)

The value of P is extremly small thus or initial assumption that all the averages are same doesn't hold true. On checking the means we can conclude

For age less than 25 the average is = 28.75
For age 25-34 the average is = 31.68
For age 35-44 the average is = 37.02
For age 45-54 the average is = 39.12
For age 55-64 the average is = 28.45
For age more than 65 the average is = 28.0

We can clearly see that the averages of all the segments vary alot from each other

In [12]:
Sample_survey=pd.read_csv("C:/Users/Vishal/Desktop/Python/7. Basic Stats - Case Study-1/sample_survey.csv")

Sample_survey.head()

,id,wrkstat,marital,childs,age,educ,paeduc,maeduc,speduc,degree,...,agecat,childcat,news1,news2,news3,news4,news5,car1,car2,car3
0,1,Working full time,Divorced,2.0,60.0,12.0,12.0,12.0,NaN,High school,...,55 to 64,1-2,No,No,No,No,No,American,Japanese,Japanese
1,2,Working part-time,Never married,0.0,27.0,17.0,20.0,NaN,NaN,Junior college,...,25 to 34,None,No,No,Yes,No,No,American,German,Japanese
2,3,Working full time,Married,2.0,36.0,12.0,12.0,12.0,16.0,High school,...,35 to 44,1-2,No,No,No,Yes,Yes,American,American,NaN
3,4,Working full time,Never married,0.0,21.0,13.0,NaN,12.0,NaN,High school,...,Less than 25,None,No,No,No,Yes,Yes,American,Other,NaN
4,5,Working full time,Never married,0.0,35.0,16.0,NaN,12.0,NaN,Bachelor,...,35 to 44,None,No,No,No,No,No,American,American,Korean

In [13]:
print("5.a In order to check the relation between the  labour force status with marital status we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency")

t=pd.crosstab(Sample_survey.wrkstat,Sample_survey.marital,margins=True)
print("\n",stats.chi2_contingency(observed=t))

print("\nAs we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent")

5.a In order to check the relation between the  labour force status with marital status we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency

 (729.2421426572284, 1.820339965538765e-127, 40, array([[5.16918728e+01, 1.55886926e+02, 7.68424028e+01, 1.07787986e+01,
        3.28000000e+01, 3.28000000e+02],
       [8.51024735e+00, 2.56643110e+01, 1.26508834e+01, 1.77455830e+00,
        5.40000000e+00, 5.40000000e+01],
       [6.20932862e+01, 1.87254417e+02, 9.23045936e+01, 1.29477032e+01,
        3.94000000e+01, 3.94000000e+02],
       [1.24501767e+01, 3.75459364e+01, 1.85077739e+01, 2.59611307e+00,
        7.90000000e+00, 7.90000000e+01],
       [7.24946996e+00, 2.18621908e+01, 1.07766784e+01, 1.51166078e+00,
        4.60000000e+00, 4.60000000e+01],
       [9.14063604e+00, 2.75653710e+01, 1.35879859e+01, 1.90600707e+00,
        5.80000000e+00, 5.80000000e+01],
       [2.46954770e+02, 7.44740283e+02, 3.67109894e+02, 5.14950530e+01,
        1.56700000e+02, 1.56700000e+03],
       [4.79095406e+01, 1.44480565e+02, 7.12197880e+01, 9.99010601e+00,
        3.04000000e+01, 3.04000000e+02],
       [4.46000000e+02, 1.34500000e+03, 6.63000000e+02, 9.30000000e+01,
        2.83000000e+02, 2.83000000e+03]]))

As we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent

In [14]:
print("5.b In order to check if the educational qualification is controlling the marital status we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency and the variance of the two is independent")

d=pd.crosstab(Sample_survey.marital,Sample_survey.degree,margins=True)
print("\n",stats.chi2_contingency(observed=d))

print("\nAs we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent. Thus we can say that education qualification is somehow controlling the marital status")

5.b In order to check if the educational qualification is controlling the marital status we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency and the variance of the two is independent

 (122.68449020508541, 7.424404099753273e-15, 25, array([[  75.06345268,   32.19248493,  235.55476781,   32.66359447,
          67.52570011,  443.        ],
       [ 227.39312301,   97.52215526,  713.57674583,   98.94930876,
         204.55866714, 1342.        ],
       [ 111.83268345,   47.9617157 ,  350.9393832 ,   48.66359447,
         100.60262318,  660.        ],
       [  15.75824176,    6.75824176,   49.45054945,    6.85714286,
          14.17582418,   93.        ],
       [  47.95249911,   20.56540234,  150.4785537 ,   20.86635945,
          43.1371854 ,  283.        ],
       [ 478.        ,  205.        , 1500.        ,  208.        ,
         430.        , 2821.        ]]))

As we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent. Thus we can say that education qualification is somehow controlling the marital status

In [15]:
print("5.c.i In order to check if the happiness is driven by marital status we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency and the variance of the two is independent")

e=pd.crosstab(Sample_survey.marital,Sample_survey.happy,margins=True)
print("\n",stats.chi2_contingency(observed=e))

print("\nAs we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent. Thus we can say that the happiness is dependent on the marital status")

5.c.i In order to check if the happiness is driven by marital status we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency and the variance of the two is independent

 (260.68943894182826, 7.762777322980048e-47, 15, array([[  53.6969697 ,  248.58538324,  140.71764706,  443.        ],
       [ 162.06060606,  750.24527629,  424.69411765, 1337.        ],
       [  79.27272727,  366.98609626,  207.74117647,  654.        ],
       [  11.15151515,   51.62495544,   29.22352941,   92.        ],
       [  33.81818182,  156.55828877,   88.62352941,  279.        ],
       [ 340.        , 1574.        ,  891.        , 2805.        ]]))

As we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent. Thus we can say that the happiness is dependent on the marital status

In [16]:
print("5.c.ii In order to check if the happiness is driven by income we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency and the variance of the two is independent")

e=pd.crosstab(Sample_survey.income,Sample_survey.happy,margins=True)
print("\n",stats.chi2_contingency(observed=e))

print("\nAs we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent. Thus we can say that the happiness is dependent on the income")

5.c.ii In order to check if the happiness is driven by income we'll be doing the Chi Sq test considering the fact that the observed frequency is equal to the expected frequency and the variance of the two is independent

 (178.9505306121643, 7.234749067043263e-21, 36, array([[   3.89520355,   18.16041919,    9.94437727,   32.        ],
       [  23.12777106,  107.82748892,   59.04474002,  190.        ],
       [  21.66706973,  101.01733172,   55.31559855,  178.        ],
       [  29.82265216,  139.04070939,   76.13663845,  245.        ],
       [ 191.35187424,  892.1305925 ,  488.51753325, 1572.        ],
       [   2.92140266,   13.62031439,    7.45828295,   24.        ],
       [   3.89520355,   18.16041919,    9.94437727,   32.        ],
       [   4.26037888,   19.86295848,   10.87666264,   35.        ],
       [   4.01692866,   18.72793229,   10.25513906,   33.        ],
       [   5.72108021,   26.67311568,   14.60580411,   47.        ],
       [   7.06005643,   32.91575977,   18.0241838 ,   58.        ],
       [   4.26037888,   19.86295848,   10.87666264,   35.        ],
       [ 302.        , 1408.        ,  771.        , 2481.        ]]))

As we can see that the P value is extemely small our null hypothesis doent hold true thus we can conclude that the two columns are dependent oneach other as the variance of two is not independent. Thus we can say that the happiness is dependent on the income